@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif!important;
    font-size: 1rem;
}

header{
    background-color: rgba(30, 40, 50, 0.05);
    padding: 50px 10%;
}

.product{
    background-color: rgba(30, 40, 50, 0.05);
}

.product .product_content{
    width: 80%;
    padding: 1.25rem 0 2rem 0;
    margin: auto;
}

.product .content button{
    display: inline-flex;
    padding: 19px 26px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #1E2832;
}

#vector{
    right: 0;
    top: 35%;
}

#frame{
    left: 0;
    top: 55%;
}

.brand{
    width: 80%;
    margin: auto;
    padding: 5rem 0;
}

.hot-category{
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}

.hot-category p{
    transform: rotate(-90deg);
    flex-shrink: 0;
    font-size: 2.125rem;
    font-weight: 400;
    text-transform: uppercase;
}

.grid-products{
    width: 80%;
    margin: auto;
    margin-bottom: 6.25rem;
}

.grid-products .top-section-products button{
    display: flex;
    padding: 5px 15px;
    align-items: center;
    gap: 4px;
    background-color: #1E2832;
}

.brand-banner{
    background-image: url('../assets/vectors/andrey-zvyagintsev-EQj1ZMpq_VM-unsplash\ 1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    flex-shrink: 0;
    padding: 10% 0 5% 55%;
    margin-bottom: 100px;
}

.brand-banner #zara_logo{
    right: 0;
    margin-top: -34.375rem;
}

.brand-banner .zara p{
    font-size: 1.525rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-transform: capitalize;
}

.brand-banner .zara button{
    display: inline-flex;
    padding: 19px 26px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}