@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif!important;
    font-size: 1rem;
    overflow-x: hidden;
}

.visibilityNavbar{
    transform: translate(0)!important;
    transition: all .5s ease-in-out;
}

header{
    background-color: rgba(30, 40, 50, 0.05);
    padding: 50px 10%;
}

#btnNav{
    display: block;
    display: none;
    right: 10px;
    top: 12%;
}

.product{
    background-color: hsla(210, 25%, 16%, 0.05);
}

.product .product_content{
    width: 80%;
    padding: 1.25rem 0 2rem 0;
    margin: auto;
}

.product .content button{
    display: inline-flex;
    padding: 19px 26px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #1E2832;
}

#vector{
    right: 0;
    top: 35%;
}

#frame{
    left: 0;
    top: 55%;
}

.brand{
    width: 80%;
    margin: auto;
    padding: 5rem 0;
}

#arrow-left, #arrow-right{
    margin-top: 80%;
    display: block;
    display: none;
}

#arrow-left{
    left: 2%;
}

#arrow-right{
    right: 2%;
}

.hot-category{
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}

.hot-category .text-cat{
    margin-left: -20rem;
    margin-top: 20rem;
}

.hot-category .text-cat p{
    transform: rotate(-90deg);
    flex-shrink: 0;
    font-size: 2.125rem;
    font-weight: 400;
    text-transform: uppercase;
}

.grid-products{
    width: 80%;
    margin: auto;
    margin-bottom: 6.25rem;
}

.products .cards .card-product .bottom-product .text-bar{
    text-decoration: line-through;
}

.products .cards .card-product .bottom-product p span{
    color: red;
}

.slider .splide .card-product .bottom-product .text-bar{
    text-decoration: line-through;
}

.slider .splide .card-product .bottom-product p span{
    color: red;
}

.grid-products .top-section-products button{
    display: flex;
    padding: 5px 15px;
    align-items: center;
    gap: 4px;
    background-color: #1E2832;
}

.brand-banner{
    background-image: url('../assets/vectors/andrey-zvyagintsev-EQj1ZMpq_VM-unsplash\ 1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    padding: 10% 0 5% 55%;
    margin-bottom: 100px;
}

.brand-banner #zara_logo{
    right: 0;
    margin-top: -34.375rem;
}

.brand-banner .zara p{
    font-size: 1.525rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-transform: capitalize;
}

.brand-banner .zara button{
    display: inline-flex;
    padding: 19px 26px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.slider-products{
    margin-bottom: 100px;
}

.slider-products .top-section-products{
    width: 80%;
    margin: auto;
}

.slider-products .top-section-products button{
    background-color: #1E2832;
    padding: 5px 15px;
}

.slider-products .slider{
    width: 80%;
    margin: auto;
}

.newsletter-instagram{
    background-color: rgba(30, 40, 50, 0.05);
    margin-bottom: 3.25rem;
    padding: 7rem 0;
}

.newsletter-instagram .newsletter .newsletter-form input{
    outline: none;
    width: 80%;
}

.newsletter-instagram .newsletter .newsletter-form input, .newsletter-instagram .newsletter .newsletter-form button{
    background-color: transparent;
    border-bottom: 2px solid #000;
}

.newsletter-instagram .instagram div .insta img{
    z-index: 1;
}

.newsletter-instagram .instagram div .insta div{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}

footer .top-footer{
    width: 80%;
    margin: auto;
    padding: 100px;
}

footer .bottom-footer{
    padding: 1rem 10%;
    background-color: #1E2832;
}

@media (max-width: 1400px){
    .brand{
        width: 100%;
        padding: 5rem 10px;
    }
    nav ul li a {
        font-size: 0.850rem!important;
    }
}

@media (max-width: 1024px){

    footer .top-footer{
        width: 100%;
        padding: 100px 20px;
    }

    .newsletter-instagram .instagram .insta{
        width: 100%;
        margin: auto;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2;
    }
    .brand-banner{
        padding: 10% 0 5% 40%;
    }
    .brand-banner #zara_logo{
        margin-top: -32.375rem;
    }
    .grid-products .products .cards{
        grid-template-columns: repeat(3, 1fr);
    }
    .brand{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .hot-category .text-cat{
        margin-top: 15rem;
    }
    #frame{
        top: 75%;
    }
    .product .product_content{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
    .product .product_content .content p{
        font-size: 1.5rem;
    }
    #btnNav{
        display: block;
    }
    header{
        padding: 50px 10px;
    }
    nav{
        position: absolute;
        background-color: #fff;
        left: 0;
        right:0;
        bottom: 0;
        top: 16%;
        position: fixed;
        transform: translate(100%)!important;
    }
    nav ul{
        width: 100%;
        height: 80%;
        flex-direction: column;
        justify-content: space-around!important;
    }
    nav ul li a{
        font-size: 1.5rem!important;
    }
    .hot-category{
        width: 100%;
        padding: 10px;
    }
    .grid-products{
        width: 100%;
        padding: 10px;
    } 
    .slider-products .top-section-products{
        width: 100%;
        padding: 10px;
    }
    .slider-products .slider{
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 830px){

    footer .bottom-footer{
        flex-direction: column-reverse;
    }
    .brand-banner{
        padding: 10% 0 5% 20%;
    }
    .brand-banner #zara_logo{
        margin-top: -30.375rem;
    }
    .grid-products .products .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .newsletter-instagram .instagram .insta{
        grid-template-columns: repeat(2, 1fr);
    }
    .hot-category .text-cat{
        margin-top: 17rem;
    }
    .product .product_content{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    }
}